<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>URL Server</string>
			<key>Key</key>
			<string>it.esselunga.mobile.serverURL</string>
			<key>DefaultValue</key>
			<string>http://intralxwls0s.mil.esselunga.net/checklist/resources/synch/</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>username</string>
			<key>Key</key>
			<string>it.esselunga.mobile.username</string>
			<key>DefaultValue</key>
			<string>ictlm1</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>password</string>
			<key>Key</key>
			<string>it.esselunga.mobile.password</string>
			<key>DefaultValue</key>
			<string>Spadino71</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>URL Server Validation</string>
			<key>Key</key>
			<string>it.esselunga.mobile.validationURL</string>
			<key>DefaultValue</key>
			<string>http://intralxejbt.mil.esselunga.net/servizivalidation/resources/provisioning</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
	<key>Strings Filename</key>
	<string>Framework</string>
</dict>
</plist>
